{% extends "base.html" %}

{% block title %} Log In {% endblock %}

{% block content %}
    <div class="login">
        <h2>Log in to your Verto Account</h2>
        <form method="POST">
            <input type="email" name="email" id="email" placeholder="someone@example.com" required>
            <input type="password" name="password" id="password" placeholder="123456" required>
            <button type="submit">Log In</button>
        </form>

        <p class="alt-link">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>

    <footer>
        <p>Quick Links: <a href="/">Home</a> | <a href="/">About</a> | <a href="/">Contact</a></p>
        <p>&copy; 2026 Verto</p>
    </footer>
{% endblock %}